name: Job Scraper Cron

on:
  schedule:
    - cron: "30 23,11 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 2
      matrix:
        shard:

          - name: core-engineering
            roles: >
              ["Backend Engineer","Frontend Engineer","Full Stack Engineer","Mobile Engineer","Software Engineer","Platform Engineer","Systems Engineer","Embedded Systems Engineer","UI UX"]

          - name: cloud-devops
            roles: >
              ["Cloud Engineer","Cloud Architect","DevOps Engineer","Site Reliability Engineer (SRE)","Infrastructure Engineer","Cloud Strategy Consultant","Network Cloud Engineer"]

          - name: security-risk
            roles: >
              ["Security Engineer","Cloud Security Engineer","Application Security Engineer","Network Security Engineer","Cyber Security Analyst","GRC / Compliance Engineer", "IT Auditor","FedRAMP / ATO Engineer","Technology Risk Manager"]

          - name: data-ai
            roles: >
              ["Data Engineer","Data Scientist","Analytics Engineer","Business Intelligence Engineer","Machine Learning Engineer","AI Engineer","Financial Analyst"]

          - name: qa-testing
            roles: >
              ["QA Engineer","Automation Test Engineer","Performance Test Engineer","Security Test Engineer","Test Lead / QA Lead"]

          - name: it-operations
            roles: >
              ["IT Infrastructure Engineer","IT Operations Engineer","Linux / Unix Administrator","Monitoring / SIEM Engineer","Observability Engineer","Release / Configuration Manager","Network Engineer"]

          - name: enterprise-apps
            roles: >
              ["SAP Analyst","ERP Consultant","CRM Consultant","ServiceNow Developer / Admin","IT Asset / ITOM Engineer","Workday Analyst","Salesforce Developer"]

          - name: architecture-leadership
            roles: >
              ["Enterprise Architect","Solutions Architect","IT Manager","CTO / CIO","Product Manager","Technical Product Manager","Project Manager","Program Manager"]

          - name: emerging-tech
            roles: >
              ["Blockchain Engineer","IoT Engineer","Robotics Engineer","AR / VR Engineer","AML KYC","Business Analyst"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd scraper
          npm install

      - name: Run scraper
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          ROLES: ${{ matrix.shard.roles }}
        run: |
          cd scraper
          node scraper.js